<h1>Photos</h1>

<% @photos.each do |photo| %>
    <table>
      <tr>
        <td>

          <img src="<%=asset_path(photo.file_name) %>" />
        </td>
        <td>
          <%= photo.created_at %>
          <%= link_to 'Comments', get_comments_path(photo.id) %>
        </td>
      </tr>
    </table>
<% end %>















