<h1> There are <%= @size %></h1>

<table>
  <tr>
    <td>
      First Name
    </td>
    <td>
      Last Name
    </td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.first_name ,user_path(user) %></td>
      <td><%= link_to user.last_name, user_path(user) %></td>
    </tr>
  <% end %>
</table>
